{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1>BONJOUR ET BIENVENU</h1>
    <p>Pour chaque point bonus, gagner 25lp dans vos games de classement League Of Legends</p>
</div>
{% endblock %}
